<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dodajte sporočilo |GuestBook</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Dobrodošel!</h1>
    <p>Vnesite prosim vase osebne podatke:</p>
    <form method="POST" active= "/">
        Ime: <br/>
         <input type="text" name ="ime" autofocus/><br />
        Priimek:
        <br/> <input type="text" name ="priimek" /><br />
        Email:<br / >
         <input type="email" name ="email" /><br />
        Sporočilo: <br / >
        <textarea rows="12" cols="50" name="sporocilo"></textarea><br />
        <input type="submit" value="Potrdi">
    </form>
</body>
</html>